<body>
    <div class="row">
        <div class="left">
            <app-global-navbar></app-global-navbar>
            <div class="container">
                <h1 *ngIf="!shopid">Crear una tienda</h1>
                <h1 *ngIf="shopid">Editar una tienda</h1>
                <form [formGroup]="myForm" autocomplete="off">  
                    <mat-form-field appearance="legacy">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name" placeholder="Nombre">
                        <mat-error *ngIf="name.invalid">{{Errorname()}}</mat-error>
                    </mat-form-field> <br>
                    <mat-form-field appearance="legacy">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="phone" placeholder="Teléfono">
                        <mat-error *ngIf="phone.invalid">{{ErrorPhone()}}</mat-error>
                    </mat-form-field> <br>
                    <mat-form-field appearance="legacy">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="adress" placeholder="Dirección">
                        <mat-error *ngIf="address.invalid">{{ErrorAddress()}}</mat-error>
                    </mat-form-field> <br>
                    <mat-form-field appearance="legacy">
                        <mat-label>Descripción de la tienda</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                        <mat-error *ngIf="description.invalid">{{ErrorDescription()}}</mat-error>
                      </mat-form-field>
                </form>
                <div class="actions">
                    <div class="save">
                        <button mat-raised-button (click)="saveShop()"> Guardar</button>
                    </div>
                    <div class="cancel">
                        <button mat-raised-button routerLink="/user/{{id}}"> Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

