<app-global-navbar [userID] = "user_id"></app-global-navbar>
<body>
    <div class="header" *ngIf="user && mycart">
        <div class="details">
            <div class="user">
                <h1>Carrito de compras</h1>
                <p>de {{user.name}}</p>
            </div>
            <div class="data">
                <p>Cantidad de productos: <strong>{{mycart.quantity_products}}</strong></p>
                <p>Total: <strong>S/.{{total}}</strong></p>
            </div>
        </div>
    </div>
    <div class="header">
        <h1>Productos disponibles</h1>
    </div>
    <div class="list" *ngFor="let product of products">
        <mat-card class="product">
            <div class="elements">
                <div *ngFor="let img of images">
                    <img *ngIf="img.id_product == product.id" src="{{img.img}}" alt="">
                </div>
                <div class="specs">
                    <mat-hint>{{product.brand}}</mat-hint>
                    <p>{{product.name}}</p>
                    <p>{{product.condition}}</p>
                    <div class="price">
                        <strong>S/.{{product.price}}</strong>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="header">
        <h1>Productos agotados</h1>
    </div>
    <div class="list" *ngFor="let product of soldout">
        <mat-card class="product">
            <div class="elements">
                <div *ngFor="let img of images">
                    <img *ngIf="img.id_product == product.id" src="{{img.img}}" alt="">
                </div>
                <div class="specs">
                    <mat-hint>{{product.brand}}</mat-hint>
                    <p>{{product.name}}</p>
                    <p>{{product.condition}}</p>
                    <div class="price">
                        <strong>S/.{{product.price}}</strong>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    
    <div class="purchase">
        <button *ngIf="mycart" mat-raised-button routerLink="/purchase/{{user_name}}/{{mycart.id}}/{{user_id}}">Pagar productos</button>
    </div>
</body>
