body{
    background-color: #f5e2d0;
}
mat-card{
    margin-top: 2rem;
    margin-left: 2rem;
    max-width: 25%;
    padding: 30px;
    background-color: #2c3646;
    margin-left: 35%;
}
mat-card mat-card-title{
    margin-top: 1rem;
    color: #f5e2d0;
}
mat-card mat-card-content form{
    margin-top: 2rem;
}

mat-card mat-card-content input{
    font-size: 15px;
}
mat-card mat-card-content mat-form-field{
    width: 20rem;
}


::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #7c8491 !important;
}
::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: #7c8491 !important;
} 
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #7c8491 !important;
} 
::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #7c8491 !important;
}
::ng-deep .mat-input-element::placeholder{
    color: #7c8491 !important;
}