.product-page{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    margin-left: 3rem;
}

.heading{
    color: var(--principal);
    margin: 2rem;
    font-weight: lighter;

}
.linea{
    border-top: 1px solid var(--principal);
    width: 400px;
    height: 2px;
    padding: 0;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: -1rem;
}
.backarrow{
    margin-left: 10px;
    margin-right: 25px;
}
.backarrow a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--principal);
}
.product-page .image{
    margin-left: 50px;
    margin-right: 50px;
}
.product-page .image img{
    width: 500px;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999
}
.product-page .content{
    margin-left: 2rem;
    color: var(--principal);
}
.product-page .content .up{
    display: flex;
    justify-content: space-between;
}
.product-page .content .up .actions{
    display: flex;
}
.product-page .content .up a{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 10px;
}
.product-page .content .up h1{
    font-weight: lighter;
}
.product-page .content .details{
    
    margin-top: 1rem;
}
.product-page .content .details{
    margin-top: 1rem;
}
.product-page .content .details button{
    
    margin-top: 1rem;
    background-color: var(--principal);
    color: var(--wall);
}