<body>
    <app-global-navbar></app-global-navbar>

    <div class="form">
        
        <div class="heading">
            <h1>Agregar producto a <span>{{shopname}}</span> </h1>
        </div>

        <div class="linea"></div>

        <div class="form-content">
            <form [formGroup]="myForm" autocomplete="off" color="secondary">

                <mat-form-field appearance="legacy">
                    <mat-label>Nombre del producto</mat-label>
                    <input matInput formControlName="name" placeholder="Nombre del producto">
                </mat-form-field>

                <div class="model2">
                    <mat-form-field appearance="legacy">
                        <mat-label>Cantidad</mat-label>
                        <input matInput formControlName="quantity" placeholder="Cantidad">
                    </mat-form-field>

                    <mat-form-field appearance="legacy">
                        <mat-label>Precio</mat-label>
                        <input matInput formControlName="price" placeholder="Precio">
                    </mat-form-field>
                </div>
        
                <div class="model2">
                    <mat-form-field appearance = "legacy">
                        <mat-label>Género</mat-label>
                        <mat-select formControlName = "type">
                            <mat-option *ngFor="let gender of genders" [value]="gender.name">
                                {{gender.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            
                    <mat-form-field appearance = "legacy">
                        <mat-label>Tipo de prenda</mat-label>
                        <mat-select formControlName = "type">
                            <mat-option *ngFor="let type of types" [value]="type.name">
                                {{type.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
        
                <div class="model2">
                    <mat-form-field appearance = "legacy">
                        <mat-label>Material</mat-label>
                        <mat-select formControlName = "material">
                            <mat-option *ngFor="let material of materials" [value]="material.name">
                                {{material.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            
                    <mat-form-field appearance = "legacy">
                        <mat-label>Talla</mat-label>
                        <mat-select formControlName = "size">
                            <mat-option *ngFor="let size of sizes" [value]="size.name">
                                {{size.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                    
                <mat-form-field appearance="legacy">
                    <mat-label>Marca</mat-label>
                    <input matInput formControlName="brand" placeholder="Marca">
                </mat-form-field> <br>
        
                <div class="model2">
                    <mat-form-field appearance = "legacy">
                        <mat-label>Temporada</mat-label>
                        <mat-select formControlName = "season">
                            <mat-option *ngFor="let season of seasons" [value]="season.name">
                                {{season.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            
                    <mat-form-field appearance="legacy">
                        <mat-label>Año</mat-label>
                        <input matInput formControlName="year" placeholder="Año">
                    </mat-form-field>
                </div>
            </form>
        </div>

        <div class="actions">
            <div class="add">
                <button mat-raised-button (click)="saveProduct()" >Agregar producto</button>
            </div>
            <div class="cancel">
                <button mat-raised-button routerLink="/shop-page/{{shopname}}/{{shopfound.idUser}}" >Cancelar</button>
            </div>
        </div>

    </div>

</body>
