<body>
    <app-global-navbar [userID] = "id"></app-global-navbar>


    <div class="main">
        <div class="products">
            <div class="title">
                <h1>Nuestros <span>Productos</span></h1>
            </div>
            <app-show-products [productslist]="products" [iduser]="id"></app-show-products>
        </div>
        <div class="products">
            <div class="title">
                <h1>Productos de <span>Invierno</span></h1>
            </div>
            <app-show-products [productslist]="winterProd" [iduser]="id" ></app-show-products>
        </div>
    </div>
</body>





