<app-global-navbar></app-global-navbar>
<h1>{{shopfound.name}}</h1>

<h1>DUEÑO DE LA TIENDA {{shopfound.idUser}} {{userfound.name}}</h1>
<h1></h1>


<div *ngIf="userVerification()">
    <h1>Dueño de la tienda</h1>
    <button mat-raised-button (click)="addProduct()" routerLink="/add-product/{{shopfound.name}}" >Agregar producto</button>
</div>
<div *ngIf="!userVerification()">
    <h1>CLIENTE</h1>
    <button mat-raised-button>AGREGAR COMENTARIO</button>
</div>
<div>
    <h2>Productos</h2>
    <ul>
        <li *ngFor="let product of products">
            <h1>{{product.name}}</h1>
            <div class="buttons">
                <button *ngIf="!userVerification()">Agregar</button>
                <div *ngIf="userVerification()">
                    <button>Editar</button><button>Borrar</button>
                </div>
            </div>
        </li>
    </ul>
</div>

<div>

</div>






