<app-global-navbar [userID]="shopfound.idUser"></app-global-navbar>

<div class="heading">
    <div class="up">
        <h1>{{shopfound.name}}</h1>
        <div class="actions">
            <button *ngIf="userVerification()" style="background-color: #9b887d;" mat-raised-button routerLink="/add-product/{{shopfound.name}}" >Eliminar</button>
            <button *ngIf="userVerification()" mat-raised-button routerLink="/add-product/{{shopfound.name}}" >Editar tienda</button>
            <button *ngIf="userVerification()" mat-raised-button routerLink="/add-product/{{shopfound.name}}" >Agregar producto</button>
            <button *ngIf="!userVerification()" mat-raised-button>Realizar reseña</button>
        </div>
    </div>
    <div class="linea"></div>
    <mat-hint>por {{userfound.name}}</mat-hint>
</div>

<div class="content">
    <div *ngFor="let product of products">
        <mat-card>
            <div class="container">
                <p>Nombre: {{product.name}}</p>
                <h5>Tienda: {{product.shopname}}</h5>
                <h5>Precio: {{product.price}}</h5>
            </div>
            <div class="buttons">
                <a class="redirect" *ngIf="userVerification()">Editar</a>
                <a class="redirect">Ver</a>
                <mat-icon mat-raised-button *ngIf="!userVerification()">add</mat-icon>
            </div>
        </mat-card>
    </div>
</div>





