
mat-toolbar{
    color: #d7e1e5;
    background-color: #2c3646;
    font-weight: bold;
    height: 4.5rem;
    justify-content: space-between;
}
mat-toolbar h1{
    margin-left: 3rem;
    cursor: pointer;
}
mat-toolbar span{
    color: #f5e2d0;
}
mat-toolbar a{
    color: #f5e2d0;
    font-size: 85%;
    font-weight: lighter;
    margin-right: 3rem;
    text-decoration: none;
}

