*{
    box-sizing: border-box;
}
body{
    margin: 25px;
}
.list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}
.card{
    margin: 10px;
    width: 220px;
    height: 300px;
}
.card a{
    font-family: sans-serif;
    cursor: pointer;
}
.card a:hover{
    text-decoration: underline;
}
.card .image img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 2px;
}
.price{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: bold;
}
.price p{
    
    color: #ff7673;
}
.description{
    margin-top: 10px;
    margin-left: 1rem;
}
.description{
    margin-left: 1rem;
}
.all{
    display: flex;

}
.filter
{
    margin-left: 3rem;
    margin-right: 5rem;
}
.filter h3{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}